*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;
}
body{
    background-color: rgb(238, 234, 234);
}
header{
    background-color: darkkhaki;
    min-height: 10vh;
    padding: 1rem;
}

#nave{
    background-image: url(../img/design1_image2.jpg);
    background-size: cover; 
    min-height: 200px;
    padding: 0;

}
nav{
    
}
nav a{
    
    color: aliceblue;
    background-color: blue;
    margin: 1rem;
    border-bottom: 1rem;
    padding: 0.5rem;
    text-decoration: none;
    text-align: center;
}
a[href="#"]{
    background-color: green;
}

#titulo{
    text-align: center;
    padding-top: 1vh;
    font-size: 30px;
    
}
main div{
    
    display:inline-block;
    
}    

#logo{
    width: 150px;
    padding: 2px;
    
}
#imagenFinal{
    display: block;
    padding: 5vh;
}