* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    min-width: 80vw;
    height: 100vh;
}

header {
    min-height: 5vh;
    padding: 1rem;
}

nav {
    min-width: 80vw;
    height: 40vh;
    background-image: url(../img/design1_image2.jpg);
    background-size: cover;
    background-position: 0 35%;


}

nav a {
    color: aliceblue;
    background-color: blue;
    border: 1px solid black;
    box-shadow: 3px 4px 0px gray;
    margin: 1rem;
    padding: 0.5rem;
    text-decoration: none;
    text-align: center;
    position: relative;
    left: 70%;
    bottom: 5px;
}

main {

    margin-top: 20px;
}

a[href="#"] {
    background-color: green;
}

section {
    display: inline-block;
    min-width: 70vw;
    margin-left: 220px;
}

article {

    padding-bottom: 1rem;
    width: 80vw;
}

article p {
    margin-top: 10px;
}

#titulo {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;


}

aside {
    position: absolute;
    top: 60%;
    margin-left: 30px;
    width: 150px;
    display: inline-block;
}

#logo {
    width: 150px;
    height: 150px;
    padding-bottom: 30px;
}

#imagenFinal {
    width: 150px;
    height: 150px;
}