* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(81, 74, 167);
    color: black;
}

header {
    position: fixed;
    top: 0.1px;
    font-size: 0.9rem;
    width: 100vw;
    min-height: 15vh;
    display: flex;
    align-items: center;
    background-image: url(../img/design1_image2.jpg);
    background-size: cover;
    background-position: 0 20%;
}

#h1Header {
    color: rgb(233, 236, 242);
    margin-right: 6rem;
}
h4{
    margin-top: 1rem;
}

#logo {
    width: 135px;
    margin-right: 20px;
}

nav {
    display: flex;
    justify-content: center;
    align-self: self-end;
    margin-right: 1rem;
}

nav a {
    font-size: 1rem;
    color: white;
    background-color: blue;
    border: 1px solid black;
    box-shadow: 3px 4px 0px gray;
    margin: 0.5rem;
    padding-top: 1.5rem;
    padding: 0.5rem;
    text-decoration: none;
    text-align: center;
}

a[href="#"] {
    background-color: rgba(194, 231, 14, 0.742);
}

main {
    display: flex;
    margin-top: 30vh;
    margin-bottom: 4rem;
    min-height: 85vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

aside {
    width: 150px;
    margin: 2rem;

}

section {
    flex-direction: column;
    min-width: 70vw;
}

article {
    padding-bottom: 1rem;
}

article p {
    margin-top: 15px;
}

#titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

#subrayado {
    text-decoration: underline;
}

.texto {
    font-weight: bold;
    /*mostrar texto en negrita*/
    padding-top: 1.5rem;
}

p {
    margin-top: .5rem;
}

#textoSeparado {
    /*para que el telefono y el email esten en la misma linea paro separados*/
    display: flex;
    justify-content: space-between;
}

#imagenFinal {
    width: 150px;
    height: 150px;
    border-radius: 1rem 1em 1rem 1rem;
}

/*CSS gameInformation*/
table {
    margin: 1rem;
    background-color: rgb(151, 145, 200);
}

caption {
    caption-side: bottom;
    text-align: right;
    font-size: 20px;
    padding: 0.3rem;
}

th,
td {
    padding: .7rem;
}

th {
    background-color: rgb(110, 61, 175);
}

tbody tr:nth-child(even) {
    background-color: #a6aaf0;
}

tbody tr:nth-child(odd),
thead tr,
tfoot tr {
    background-color: #7c6eae;
}

#email {
    color: white;
}

/*CSS rules*/
dt {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#titulosRules {
    text-align: center;
}

#listasRules {
    margin-top: 1.5rem;
    text-align: left;
}

#listaLetras {
    list-style-type: lower-alpha;
}

.sangria {
    text-indent: 3%;
}

#sinSangria {
    text-indent: 0;
}


/*CSS registration*/
form {
    margin-top: 1.5rem;
}

fieldset {
    border: 0;
}

label {
    margin-right: 1rem;
}

.tamanioLabel {
    display: inline-block;
    width: 8rem;
}

input {
    background-color: aliceblue;
    margin-bottom: .5rem;
}

.enviar {
    margin-top: 1.5rem;
    padding: .5rem;
    border-radius: .5rem;
    background-color: cadetblue;
}

/*CSS footer*/
footer {
    background-color: rgb(39, 39, 86);
    font-family: 'Times New Roman';
    padding: 1rem;
    text-align: left;
    font-weight: bold;
}